<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>
<a href="/admin/new">Создать нового пользователя</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Email</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:each="role : ${user.roles}" th:text="${role.role}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${user.id})}">Редактировать</a>
            <form th:action="@{/admin/delete(id=${user.id})}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</html>
