<!DOCTYPE html>
<html LANG="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль пользователя</title>
</head>
<body>
<h1>Профиль пользователя</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>E-mail</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${userh.id}">айди</td>
        <td th:text="${userh.username}">Имя</td>
        <td th:text="${userh.email}">E-mail</td>
        <td>
            <span th:each="role : ${userh.roles}" th:text="${role.role}"></span>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a href="/logout">Выйти</a>
</div>
</body>
</html>